[DatabaseSection]
database.mysql.host=127.0.0.1
database.mysql.user=root
database.mysql.password=password
database.mysql.name=aminin_testing
[ClientSection]
client.id=5d8218f2f48c3d6b94645142
client.secret=WChQ8DqbJwrNK2HlzmN4ZmVIFkMjPmyl7JVUkY5x